#navigator {
  position: relative;
  min-height: 2em;
  background-color: red;
  padding: 0.5em;
  display: flex;
}
.link {
  text-decoration: none;
  color: inherit;
}
.logo {
  left: 10px;
  background-color: blue;
  height: 2em;
  position: absolute;
}
.menu {
  left: 180px;
  background-color: green;
  height: 2em;
  position: absolute;
}
.bookshelf{
  right: 150px;
  background-color: violet;
  height: 2em;
  position: absolute;
}

.sign {
  right: 10px;
  background-color: yellow;
  height: 2em;
  position: absolute;
}
.navigator-items {
  height: 2em;
  display: flex;
}


/* .bg-info {
  background-color: #1d8cf8 !important;
}

a.bg-info:hover,
a.bg-info:focus,
button.bg-info:hover,
button.bg-info:focus {
  background-color: #0772db !important;
}

.navbar.bg-info {
  background-color: #1d8cf8 !important;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 0.99925rem;
  line-height: 1;
  background-color: transparent;
  border: 0.0625rem solid transparent;
  border-radius: 0.25rem;
}
.navbar-toggler:hover,
.navbar-toggler:focus {
  text-decoration: none;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
} */