.resultCard{
    background-color: gray !important;
    padding: 10px !important;
    width: 350px !important;
    height: 500px;
}

.bookRow:hover{
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

.bookRowTable{
    display: block;
    width : 300px;
    max-height: 365px;
    overflow-y: auto;    
}


.bookTableView{
    background-color: white;
    padding : 10px;
    display: block;
    height:450px;
}


.bookDetailBlock{ 
    background-color: white;
    padding : 10px;
    width: 300px;
    max-height : 330px;
    overflow-y: auto;    
}

.bookDetailView{
    background-color: white;
    padding : 10px;
    display: block;
    height:450px;
}

.bookSearchResultTable{ 
    max-height: 300px;
    overflow-y: auto;
}

.bookSearchView{
    background-color: white;
    padding : 10px;
    width: 300px;
    height:450px;
}