.resultCard{
    /* background-color: gray !important; */
    padding: 10px !important;
    /* width: 435px !important; */
    width: 33%;
    height: 700px !important;
}

.bookRow:hover{
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

.bookRow{ 
    width : 100%;    
}
.bookRow-conditionMet{
    color: blue;
}

.bookRow-conditionMet:hover{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.bookRowTable{
    display: block;
    padding : 10px;    
    width : 100%;
    height: 80% !important;    
    overflow-y: auto;    
}


.bookTableView{
    background-color: white;
    padding : 10px;        
    height : 100%;
    display: block;    
}


.bookDetailBlock{ 
    background-color: white;
    padding : 10px;    
    height : 80%;
    overflow-y: auto;    
}

.bookDetailView{
    background-color: white;
    padding : 10px;
    height: 100%;
    display: block;    
}

.bookSearchResultTable{ 
    /* max-height: 300px; */
    max-height: 70%;
    overflow-y: auto;
}

.bookSearchView{
    background-color: white;
    padding : 10px;    
    height : 100%;    
}

.viewHeader{
    color: black;
    padding: 10px;
    margin-bottom: 0px;
}

.deleteButton{
    color: white;
    border-color:aliceblue;
    margin: 0px;
    padding: 0px;
}