.bookRow:hover{
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

.resultCard{
    background-color: gray !important;
    padding: 10px !important;
    width: 350px !important;
    height: 500px;
}

.bookTable{
    background-Color: white;
    padding: 10px;
    width: 300px;
}


.bookRowTable{
    display: block;
    max-height: 365px;
    overflow-y: auto;
}

.searchBlock{ 
    max-height: 365px;
    overflow-y: auto;
}