.invisible {
    height: 20vh;
}
.head {
    text-align: center;
    font-weight: bold;
    margin: 20px;
    font-size: 68px;
    margin: 5vh;
}
.explain {
    text-align: center;
    font-weight: bold;
    margin-top: 5vh;
}
.input{
    zIndex: 2;
    marginBottom: 10px;
    cursor: pointer;
}
.upload-box {
    background-color: rgb(191, 188, 209);
    border-radius: 15px;
    padding: 20px;
    margin-left: 20vh;
    margin-right: 20vh;
}
.input-box {
    background-color: ;
}
.box{ 
    background-Color: gray;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
    width: 200px;
    height: 200px;
    
}
.card{
    width: 200px !important; 
    padding: 2px !important;
    border-radius: 5px;
    height: 200px;
    background-color: gray !important;
    margin-right: 20px;
}

.continueButton{ 
  float: right;
  margin-top: 10px;
  margin-right: 21vh;
  width: 150px;
}
